DATABASE_URL={{cookiecutter.database_backend}}+{{cookiecutter.database_async_dialect}}://{{cookiecutter.database_user}}:{{cookiecutter.database_password}}@{{cookiecutter.database_host}}:{{cookiecutter.database_port}}/{{cookiecutter.database_name}}
DEBUG=TRUE